body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    background-color: plum;
    font: display 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 56px;
    background-color: purple;
    font: display 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    padding: 6px;
}

ul {
    list-style: circle;
    list-style-position: inside;
}